# ----------------------------------------------------------------------------
# CODEOWNERS file is useful because this makes PR's to automatically
# request review from the listed users.
# ----------------------------------------------------------------------------
* @nsustain/core-dev
