[*]
end_of_line = lf
charset = utf-8
max_line_length = off
indent_style = space

[*.{html,htm}]
indent_size = 2
tab_width = 2

[*.{css,?css}]
indent_style = space
indent_size = 2
tab_width = 2

[*.{ts,ats,cts,mts,tsx,cjs,js}]
indent_style = space
indent_size = 4
tab_width = 4

[*.md]
max_line_length = off

[*.{php,xml,json}]
indent_size = 4
