[*]
end_of_line = lf
charset = utf-8
insert_final_newline = false
max_line_length = off

[*.{html,htm}]
indent_style = space
indent_size = 2
tab_width = 2

[*.{css,?css}]
indent_style = space
indent_size = 2
tab_width = 2

[*.{ts,ats,cts,mts,tsx,cjs,js}]
indent_style = space
indent_size = 4
tab_width = 4

[*.md]
trim_trailing_whitespace = true
max_line_length = off
