# Since we're using Hashicorp Vault for storing and using all secrets,
# we're not using any .env file for handling secrets, but we've added
# this to .gitignore in case we use .env file for debugging purposes.
.env*

# Ignore all data files for Flarum, MariaDB, and Vault.
# FYI, when you build and run, all the data files will be written inside
# "data" folder. Docker creates bind mounts inside the "data" folder.
data/*
!data/README.md


