# .env files should never be indexed by git.
# Howver, we include .exampleenv... files such that
# all our servers just work out of the box for development purposes.
.*env*
!exampleenvflarum
!exampleenvmariadb
