# .env files should never be indexed by git.
# Howver, we include .exampleenv... files such that
# all our servers just work out of the box for development purposes.
.*env*
!.exampleenvflarum
!.exampleenvflarum

# Ignore all data files.
# FYI, when you run docker compose, all the data files will be written inside
# "data" folder. Docker creates bind mounts inside the "data" folder.
data/*
!data/README.md


