# The reason why we use .dockerignore file is because
# "To increase the build’s performance, exclude files and
# directories by adding a .dockerignore file to the context
# directory."
# https://docs.docker.com/engine/reference/builder/
Dockerfile
docker-compose.yml

# Plus, never commit .env files because they contain secrets.
.*env*
!exampleenvflarum
!exampleenvmariadb
